{{#if hideMap}}
  <div class="col-md-12">
    {{partial 'contacts/contact-table'}}
  </div>
{{else}}
  <div class="col-md-7">
    {{partial 'contacts/contact-table'}}
  </div>
  <div class="col-md-5">
    <div class="well">
      <div {{action 'toggleMap'}}>
        {{#link-to 'contacts' class="btn btn-warning btn-block"}} Close Map {{/link-to}}
      </div>
      <div id="map">
        {{outlet "contactsMap"}}
      </div>
    </div>
  </div>
{{/if}}
