<div class="col-md-7">
  <div class="well">
    <table class="table table-striped table-bordered table-condensed">
      <thead>
        <tr>
          <th>Business Name</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Address</th>
          <th>Product Interests</th>
        </tr>
      </thead>
      <tbody>
        {{#each contact in model}}
          <tr>
            <td>{{contact.businessName}}</td>
            <td><a href="mailto:{{contact.emailAddress}}">{{contact.emailAddress}}</a></td>
            <td>{{contact.phone}}</td>
            <td>
              <address>
                {{contact.streetAddress}}<br>
                {{contact.city}}, {{contact.state}} {{contact.zip}}
              </address>
            </td>
            <td>{{contact.productInterest}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>

<div class="col-md-5">
  <div class="well">
    {{#if hideMap}}
      <div {{action 'toggleMap'}}>
        {{#link-to 'contacts-map' class="btn btn-info btn-block"}} Open Map {{/link-to}}
      </div>
    {{else}}
      <div {{action 'toggleMap'}}>
        {{#link-to 'contacts' class="btn btn-warning btn-block"}} Close Map {{/link-to}}
      </div>
    {{/if}}
    <div id="map">
      {{outlet "contactsMap"}}
    </div>
  </div>
</div>
